/## 2번째 시도.txt
/.vscode
/123.png
/1번째 시도 결과.txt
/260323.txt
/260407 회의록.txt
/desktop.ini
/Microsoft Edge.lnk
/Visual Studio Code.lnk
/도형 - Chrome.lnk
/보희님 질문.txt
/사번 20260626.txt
/서명 캡처.png
/서명_김도형.png
/질문사항.txt
/해당 내용의 답변에 대한 reference 및 url을 알려줘..txt